In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Data_for_UCI_named.csv')
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [3]:
df.shape #gives the shape of the dataset

(10000, 14)

In [4]:
df.info() #gives information about the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stab    10000 non-null  float64
 13  stabf   10000 non-null  object
dtypes: float64(13), object(1)
memory usage: 1.1+ MB

In [5]:
df.describe() #gives the desription of the dataset

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5.250000,5.250001,5.250004,5.249997,3.750000,-1.250000,-1.250000,-1.250000,0.525000,0.525000,0.525000,0.525000,0.015731
std,2.742548,2.742549,2.742549,2.742556,0.752160,0.433035,0.433035,0.433035,0.274256,0.274255,0.274255,0.274255,0.036919
min,0.500793,0.500141,0.500788,0.500473,1.582590,-1.999891,-1.999945,-1.999926,0.050009,0.050053,0.050054,0.050028,-0.080760
25%,2.874892,2.875140,2.875522,2.874950,3.218300,-1.624901,-1.625025,-1.624960,0.287521,0.287552,0.287514,0.287494,-0.015557
50%,5.250004,5.249981,5.249979,5.249734,3.751025,-1.249966,-1.249974,-1.250007,0.525009,0.525003,0.525015,0.525002,0.017142
75%,7.624690,7.624893,7.624948,7.624838,4.282420,-0.874977,-0.875043,-0.875065,0.762435,0.762490,0.762440,0.762433,0.044878
max,9.999469,9.999837,9.999450,9.999443,5.864418,-0.500108,-0.500072,-0.500025,0.999937,0.999944,0.999982,0.999930,0.109403

In [6]:
df.isna().sum()#this dhows the sum of null values in each column

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [7]:
"""Due to the direct relationship between the 'stab' and 'stabf' column, 'stab' column will be droped and 'stabf'
becomes the sole dependent variable """

"Due to the direct relationship between the 'stab' and 'stabf' column, 'stab' column will be droped and 'stabf'\nbecomes the sole dependent variable "

In [8]:
df.drop('stab', axis = 1,inplace = True)

In [9]:
#replacing stable with 1 and unstable with 0 
df['stabf'] = df['stabf'].replace({'unstable': 0,
                   'stable': 1})

In [10]:
#Splitting the dataset into train and test 

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [11]:
x = df.drop('stabf', axis = 1)
y = df['stabf']

scaler = StandardScaler()
scaled_x = scaler.fit_transform(x)

In [12]:
x_train, x_test, y_train, y_test = train_test_split(scaled_x, y, test_size = 0.2, random_state = 1)

In [13]:
x_test = scaler.transform(x_test)

In [14]:
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier
from sklearn.metrics import accuracy_score, recall_score, precision_score, confusion_matrix

rf = RandomForestClassifier(random_state = 1)
etc = ExtraTreesClassifier()

In [15]:
rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)
accuracy_score(y_test, y_pred)

0.3585

In [16]:
etc.fit(x_train, y_train)
y_preds = etc.predict(x_test)

In [17]:
params ={'n_estimators':[1000, 300, 500,100],
        'bootstrap':[True, False],
        'min_samples_split':[1,3,5]}

In [18]:
from sklearn.model_selection import RandomizedSearchCV
etc_search = RandomizedSearchCV(etc,param_distributions = params, random_state = 1,cv = 5, n_iter = 10, scoring = 'accuracy', n_jobs = -1, verbose = 1)
etc_search.fit(x_train, y_train)
etc_search.best_params_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

C:\Users\LENOVO\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [     nan 0.92675       nan      nan 0.92675  0.9265   0.920125 0.920875
      nan 0.920625]
  warnings.warn(

{'n_estimators': 500, 'min_samples_split': 3, 'bootstrap': False}

In [19]:
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

xgb = XGBClassifier(random_state = 1)
lgb = LGBMClassifier(random_state = 1)

In [20]:
xgb.fit(x_train, y_train)
y_red = xgb.predict(x_test)
accuracy_score(y_test, y_red)

C:\Users\LENOVO\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[03:44:27] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

0.36

In [21]:
lgb.fit(x_train, y_train)
ypred = lgb.predict(x_test)
accuracy_score(y_test, ypred)

0.356

In [22]:
#question 1
#GIVEN 
TP = 225
TN = 20
FP = 1380
FN = 45

In [23]:
precision = TP/(TP+FP)

In [24]:
recall = TP/(TP+FN)

In [25]:
f1_score = 2*((precision*recall)/(precision + recall))

In [26]:
print('The f1_score = ', f1_score)

The f1_score =  0.24